# Ignore node_modules directory
node_modules/

# Ignore log files and database files
*.log
*.sqlite

# Ignore environment-specific files
.env

# Ignore compiled files
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/

# Ignore dependencies, if using Yarn
yarn.lock

# Ignore dependencies, if using npm
package-lock.json
